@import url(//db.onlinewebfonts.com/c/41ed59a29024f1d258b293b9043e8f81?family=Revue);
.item1 {
  grid-area: item-1;
}
.item2 {
  grid-area: item-2;
}
.item3 {
  grid-area: item-3;
}

.hero-container {
  display: grid;
  grid-template-areas: "item-1 item-2 item-3";
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.hero-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color: #fff;
  font-family: "Revue", Sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}
