@import url(//db.onlinewebfonts.com/c/41ed59a29024f1d258b293b9043e8f81?family=Revue);
.item1 {
  background-image: url(img/betrayal.webp);
  grid-area: item-1;
}
.item2 {
  background-image: url(img/friendship.webp);
  grid-area: item-2;
}
.item3 {
  background-image: url(img/love.webp);
  grid-area: item-3;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "item-1 item-2 item-3";
  background-color: black;
}

.hero-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color: #fff;
  font-family: "Yeseva One", cursive;
  font-size: 3em;
  text-transform: uppercase;
  height: 110vh;

  background-size: cover;
}
