:root {
  /* CSS HEX */
  --linen: #f6ece0ff;
  --nickel: #72726eff;
  --ou-crimson-red: #8b1c1aff;
  --black: #000000ff;
  --olive-drab-7: #43361aff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
