@media screen and (max-width: 768px), screen and (max-height: 500px) {
  main {
    margin-bottom: 80px;
  }
  /*Mobile view*/
  .intro-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh min-content;
    gap: 0px 0px;
    grid-template-areas:
      "head_vid"
      "info_grid";
  }

  .head_vid {
    grid-area: head_vid;
  }

  .info_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh min-content min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
      "poster poster"
      "img1 img2"
      "synopsis synopsis"
      "img3 img4";
  }
  .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
  }
  .img4 {
    grid-area: img4;
  }
  .synopsis {
    grid-area: synopsis;
  }
  .poster {
    grid-area: poster;
  }

  .poster > img {
    width: 100% !important;
    height: 100vh;
  }
}

@media screen and (min-width: 768px) {
  main {
    margin-left: 80px;
  }

  .intro-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
      "head_vid"
      "info_grid";
  }
  .head_vid {
    grid-area: head_vid;
  }
  .info_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
      "poster img1 img2 img3"
      "poster synopsis synopsis img4";
  }
  .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
  }
  .img4 {
    grid-area: img4;
  }
  .synopsis {
    grid-area: synopsis;
  }
  .poster {
    grid-area: poster;
  }
}

.head_title > h1 {
  padding: 5px;
  font-size: 6vw;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: capitalize;
  color: aliceblue;
  background-color: var(--text-red);
  font-family: "Yeseva One", cursive;
  letter-spacing: 5px;
  max-width: 100vw;
}

div[class*="img"] > img {
  width: 100%;
  height: 100%;
}

.poster {
  background-color: var(--text-white);
  max-height: 100vh !important;
}

.poster > img {
  width: auto;
  height: 100vh;
}

.synopsis {
  text-overflow: clip;
  font-family: "Yeseva One", cursive;
  background-color: var(--bg-primary);
  color: aliceblue;
  padding: 10px;
}

/*
.poster img {
  max-width: 100%;
  height: auto;
  max-height: 80vh;
  padding: 0px 10px 0px 10px;
}

.synopsis {
  position: relative;
}

.poster > h6 {
  padding: 10px;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: aliceblue;
  font-family: "Yeseva One", cursive;
  font-size: 1.5vw;
  background-color: var(--text-grey);
}

.synopsis > h6 {
  padding: 10px;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: aliceblue;
  font-family: "Yeseva One", cursive;
  font-size: 1.5vw;
  background-color: var(--text-grey);
  text-align: center;
}

.synopsis > h3 {
  text-align: center;
  padding: 10px;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: black;
  font-family: "Yeseva One", cursive;
  font-size: 3vw;
  background-color: var(--text-white);
}
*/
