@media screen and (max-width: 600px), screen and (max-height: 500px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content min-content min-content 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header"
      "card1"
      "card2"
      "card3"
      "table";
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -3;
    grid-area: header;
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  .table {
    grid-area: table;
  }
}

/*Page layour*/
@media screen and (min-width: 600px), screen and (min-height: 500px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50vh min-content 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Header Header Header"
      "Card1 Card2 side"
      "table table side";
  }
  .header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -3;
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .side {
    grid-area: card3;
  }
  .table {
    padding-left: 10px;
    grid-area: table;
  }
}
/*Table row layour*/
.month {
  padding: 10px 0 10px 0;
  display: grid;
  grid-template-columns: 10% 10% 1fr 1fr 10%;
  grid-template-rows: 30% 70%;
  gap: 0px 0px;
  grid-template-areas:
    "title title title title title"
    "day_of_month screening_time screening_venue screening_venue ticket";
}
.month div {
}
.title {
  grid-area: title;
}
.day_of_month {
  grid-area: day_of_month;
}
.screening_time {
  grid-area: screening_time;
}
.screening_venue {
  grid-area: screening_venue;
}
.ticket {
  grid-area: ticket;
}
