.scroll-down {
  height: 50px;
  width: 30px;
  position: absolute;
  left: 50%;

  cursor: pointer;
  z-index: 1000;
  /*border-radius: 50px;*/
  /*border: 2px solid black;*/
}
@media screen and (max-width: 768px) {
  .scroll-down {
    bottom: 80px;
  }
}

@media only screen and (min-width: 768px) {
  .scroll-down {
    bottom: 20px;
  }
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  z-index: 1000;
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid aliceblue;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.rotate {
  transform: rotate(180deg);
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}
