@media screen and (max-width: 768px), screen and (max-height: 500px) {
  main {
    margin-bottom: 80px;
  }
  /*Mobile view*/
}

@media screen and (min-width: 768px) {
  main {
    margin-left: 80px;
  }
  .shop-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
      "shop_head"
      "shop";
  }

  .shop_head {
    grid-area: shop_head;
  }

  .shop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 90vh;
    gap: 0px 0px;
    grid-template-areas:
      "tab1 tab2 tab3 tab4"
      "content content content content";
    grid-area: shop;
  }

  .page {
    grid-area: content;
    overflow: hidden;
  }

  .tab1 {
    grid-area: tab1;
  }

  .tab2 {
    grid-area: tab2;
  }

  .tab3 {
    grid-area: tab3;
  }

  .tab4 {
    grid-area: tab4;
  }
}

input[type="radio"] {
  display: none;
}

label.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid #8e44ad;
  background: #ecf0f1;
  padding-left: 0;
}

input[type="radio"]:checked + .page + label.nav {
  background: #30a034;
  color: #ffffff;
  padding-left: 20px;
}

input[type="radio"]:checked + .page + label.nav span {
  padding-left: 20px;
}

input[type="radio"]:checked + .page + label.nav svg {
  opacity: 1;
}

label.nav span {
  padding-left: 0px;
  position: relative;
}

label.nav svg {
  left: 0;
  top: -3px;
  position: absolute;
  width: 15px;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.page {
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

input[type="radio"] + .page {
  transform: translateX(1000%);
}

input[type="radio"]:checked + .page {
  transform: translateX(0%);
}
