.shop_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px), screen and (max-height: 500px) {
  main {
    margin-bottom: 80px;
  }
  /*Mobile view*/
  .shop-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
      "shop_head"
      "shop";
  }

  .shop_head {
    grid-area: shop_head;
  }

  .shop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 90vh;
    gap: 0px 0px;
    grid-template-areas:
      " tab1 tab2 tab3 tab4"
      "content content content content ";
    grid-area: shop;
  }

  .page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
      "item1 item2"
      "item3 item4";
    grid-area: content;
    overflow-x: hidden;
    overflow-y: scroll !important;
  }

  .tabtitle {
    display: none !important;
    grid-area: tabtitle;
  }

  .tab1 {
    grid-area: tab1;
  }

  .tab2 {
    grid-area: tab2;
  }

  .tab3 {
    grid-area: tab3;
  }

  .tab4 {
    grid-area: tab4;
  }
}

@media screen and (min-width: 768px) {
  main {
    margin-left: 80px;
  }
  .shop-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
      "shop_head"
      "shop";
  }

  .shop_head {
    grid-area: shop_head;
  }

  .shop {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 90vh;
    gap: 0px 0px;
    grid-template-areas:
      "tabtitle tab1 tab2 tab3 tab4"
      "content content content content content";
    grid-area: shop;
  }

  .page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content;
    gap: 0px 0px;
    grid-template-areas: "item1 item2 item3 item4";
    grid-area: content;
    overflow-x: hidden;
    overflow-y: scroll !important;
  }

  .tabtitle {
    grid-area: tabtitle;
  }

  .item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content;
    gap: 0px 0px;
    grid-template-areas: "item1 item2 item3 item4";
    grid-area: content;
  }

  .tab1 {
    grid-area: tab1;
  }

  .tab2 {
    grid-area: tab2;
  }

  .tab3 {
    grid-area: tab3;
  }

  .tab4 {
    grid-area: tab4;
  }
}

.itm_img {
  grid-area: itm_img;
}
.itm_img > img {
  border-radius: 5%;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.itm_name {
  grid-area: itm_name;
  padding: 10px;
}
.price {
  padding: 10px;
  text-align: center;
  grid-area: price;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}
input[type="radio"] {
  display: none;
}

.tabtitle {
  display: flex;
  align-items: center;
  justify-content: left;
  background: var(--text-grey);
  color: aliceblue;
}

.tabtitle > h1 {
  text-transform: capitalize;
  margin-left: 10px;
  font-family: "Yeseva One", cursive;
  letter-spacing: 2px;
}
.tabtitle > .searchbox {
  background: none;
  margin-left: auto;
  overflow: hidden;
  margin-right: 25px;
  background: none;
  color: #fff;
}
.tabtitle > .searchbox > input {
  background: none;
  outline: none;
  border: none;
  font-size: 1em;
  padding-bottom: 5px;
  padding-left: 5px;
  border-bottom: 2px solid aliceblue;
  color: aliceblue;
}
.tabtitle > .searchbox > input::placeholder {
  color: aliceblue;
}

.tabtitle > .searchbox > button {
  color: aliceblue;
  background: none;
  outline: none;
  border: none;
  padding: 5px;
}

label.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #ecf0f1;
  padding-left: 0;
  border-bottom: 2px solid var(--bg-secondary);
}

input[type="radio"]:checked + .page + label.nav {
  background: var(--bg-primary);
  border-bottom: 5px solid var(--text-red);
  color: #ffffff;
  padding-left: 0px;
}

input[type="radio"]:checked + .page + label.nav span {
  padding-left: 0px;
}

label.nav span {
  padding-left: 0px;
  position: relative;
}

label.nav i {
  transition: opacity 0.2s;
  opacity: 1;
  font-size: 15px !important;
}

input[type="radio"]:checked + .page + label.nav i {
  opacity: 1;
}

input[type="radio"] + .page {
  transform: translateX(1000%);
}

input[type="radio"]:checked + .page {
  transform: translateX(0%);
}
