@import url(//db.onlinewebfonts.com/c/41ed59a29024f1d258b293b9043e8f81?family=Revue);
:root {
  /* CSS HEX */
  --linen: #f6ece0ff;
  --nickel: #72726eff;
  --ou-crimson-red: #8b1c1aff;
  --black: #000000ff;
  --olive-drab-7: #43361aff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}
