@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Yeseva+One&display=swap");

.inner {
  text-align: center;
  position: relative;
  z-index: 2;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(100%);
}

h1 {
  color: aliceblue;
  font-family: "Yeseva One", cursive;
  font-size: 8em;
  letter-spacing: 5px;
}
p {
  margin-bottom: 20px;
  font-family: "Yeseva One", cursive;
  font-size: 1em;
  color: aliceblue;
}
